body{
	background-color: rgb(104, 187, 285);
	padding: 10px;
} 
header{
	text-align: center;
}
#container{
	width: 1200px;
	margin: auto;
}
#left-box{
	float: left;
	background: rgb(9, 30, 45);
	color: white;
	width: 300px;
}
#experiences-box{
	background-color: white;
}
.experience, .study{
	padding: 10px;
}
#studies-box{
	background-color: white;
	margin-top: 10px;
}
li{
	list-style-type: none;
}
footer{
	clear: both;
	text-align: center;
}
#right-box{
	margin-left: 310px;
}
p{
	margin: 10px 10px 0 10px;
}
h2{
	padding: 5px 0 5px 5px;
	margin: 0;
}